* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
    margin: 5px;
}
.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}
.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
    margin: 5px;
}
.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}
.header {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.menu {
    display: flex;
}
.menu li {
    width: 25%;
    border-left:  1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: flex;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.down {
    width: 15px;
    height: 15px;
   
}
.menu-children ul {
    display: none;
    position: absolute;
    
}
.menu-children li {
    width: 250px;
    margin: 0;
    padding: 0;
    background-color: #2c71b8;
    color: white;
    
    
}

.menu-children:hover ul{
    display: block;
    margin: 0;
    padding: 0;
   
    
}
.menu-children:hover li {
    background-color: white;
    color: #2c71b8;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: auto;
    background-color: #cdddee;
    border-color: #2c71b8;
}
input {
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right center;
  }
.icons {
 display: flex;
 justify-content: center;
 margin: 0;
 padding: 0;
}
.shop {
    display: flex;
    background-color: #2c71b8;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    top: -10px;

}
.iconshop {
    padding: 10px;
    background-color: white;
}
.main {
    height: 2350px;
}
.content {
    display: flex;
    flex-wrap: wrap;

}
   
.column {
    display: flex;
    height: 850px;
    align-items: center;
    border: 1px solid white;
}
.laptop {
    
    height: 135px;
    width: 870px;
    border: 1px solid white;
}
.device {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 680px;
    width: 300px;
    border: 1px white solid;
    
}
.way{
    margin: 10px;
}

.upmenu {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 10px;
    padding: 10px;
}
.subchoice {
    font-size: 48px;
}
.choice {
    background-color: #2c71b8;
    font-size: 21px;
    border: 1px solid white;
    
}
.sort {
    border: 1px solid white;
    
}
.choice:hover {
    background-color: white;
    color: #2c71b8;
}
.imgs {
    
    background-color: white;
    height: 180px;
}
.deviceimg {
    padding-top: 15%;
}
.subimg {
    position: relative;
    left: 125px;
    top: -170px;
}
.qvdrt {
    border: #2c71b8 1px solid;
    padding: 2px;
}
.heart {
    border: #2c71b8 1px solid;
    padding: 3px;
}
.devicename {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 15px;
    margin-top: -50px;
}
.description {
    font-size: 21px;
    color: white;
    padding: 15px;
    
}
.price {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 15px;
}
.details {
    background-color: #2c71b8;
    color: white;
    border: white 1px solid;
    height: 50px;
    width: 210px;
    margin: 10px;
    font-size: 21px;
}
.cart {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border: none;
    height: 50px;
    width: 210px;
    margin: 10px;
    font-size: 21px;
}
.cart {
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    background-size: 7%;
    background-position-x: 185px;
    background-position-y: center;
}
.textdescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text {
    text-align: left;
}